@use "../styles/variables.scss" as vars;
@use "../styles/mixins.scss" as mix;

// Menu Bar - Windows XP Style
.menuBar {
  height: 30px;
  background: vars.$xp-menu-bar;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItems {
  display: flex;
  // gap: 12px;
  height: 100%;
  align-items: center;
}

.menuItem {
  font-size: 11px;
  color: black;
  cursor: pointer;
  padding: 0 6px;
  border-radius: 1px;
  border: 1px solid transparent;
  height: 100%;
  align-self: center;
  display: flex;
  align-items: center;

  &:hover {
    @include mix.xp-gradient(#ffe6cc, #ffcc99);
    border: 1px solid #eca258;
    transition: all 0.4s;
  }
}

.menuActions {
  display: flex;
  height: 100%;
}

.actionButton {
  font-size: 11px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 3px;
  height: 100%;
  border: 1px solid transparent;

  &:hover {
    @include mix.xp-gradient(#ffe6cc, #ffcc99);
    border: 1px solid #eca258;
    transition: 0.4s;
  }
}
