.header {
  background-color: #4f88c6;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.8rem;
  font-weight: bold;
}

.controls button {
  background: transparent;
  border: none;
  color: white;
  font-weight: bold;
  margin-left: 0.5rem;
  cursor: pointer;
}
